<div class="form-div">
  <%= form_for @training,remote: true  do |f| %>
      <div id='training_name'>
        <ul></ul>
      </div>
      <div class="form-group">
        <%= f.text_field :name,:class => "form-control",:placeholder=>"Name"%>
      </div>
      <div class="form-group">
        <%= f.text_field :certification,:class => "form-control",:placeholder=>"Add the type of Certificate you want?"%>
      </div>
      <div class="form-group">
        <%= f.text_field :number_of_day,:class => "form-control",:placeholder=>"Duration in Days"%>
      </div>
      <div class="form-group">
        <%if params[:action] == 'edit'%>
            <%= f.submit "Update Training",:class => "btn btn-primary pull-left"%>
        <% else %>
            <%= f.submit "Create Training",:class => "btn btn-primary pull-left"%>
        <% end %>
      </div><br><br>
  <% end %>
  <%= link_to "Back",trainings_path ,:class=>"btn btn-success"%>
</div>