<div class="form-div">
  <%= form_for @position,remote: true  do |f| %>
      <div id='position_title'>
        <ul></ul>
      </div>
      <div class="form-group">
        <%= f.text_field :title,:class => "form-control",:placeholder=>"Title"%>
      </div>
      <div class="form-group">
        <%= f.text_area :description, :rows => 2, :cols => 60 , :maxlength => 50, :minlength=> 5, :class => "form-control",:placeholder=>"Description" %>
      </div>
      <div class="form-group">
        <%if params[:action] == 'edit'%>
            <%= f.submit "Update Position",:class => "btn btn-primary pull-left"%>
        <% else %>
            <%= f.submit "Create Position",:class => "btn btn-primary pull-left"%>
        <% end %>
      </div></br></br>
  <% end %>
  <%= link_to "Back",positions_path ,:class=>"btn btn-success"%>
</div>