<div style="margin-left:20px;">
  <h4>Welcome to this Application</h4>
  <%= link_to "Create Position", positions_path,:class => "btn btn-primary" %><br><br>
  <%= link_to "Create Training", trainings_path,:class => "btn btn-primary" %>
  <h3>Matrix Table</h3>
  <table class="responsive-table-input-matrix">
    <thead>
    <tr>
      <td></td>
      <% @positions.each do |position|%>
          <td><%=position.title%></td>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @trainings.each do |training|%>
        <tr>
          <td><%= training.name %></td>
          <% $i = 0 %>
          <% while $i < @positions.count  do %>
              <td><input type="checkbox" value =<%= training.id %> id="<%= training.id %>"></td>
              <% $i +=1 %>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>